html,
body {
  font-family: "Dongle", sans-serif;
  margin: 0;
  padding: 0;
}

.text-container {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  color: white;
  opacity: 0.8;
  user-select: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

:root {
  --color-bg1: rgb(34, 40, 49);
  --color-bg2: rgb(49, 54, 63);
  --color1: 18, 113, 255;
  --color2: 255, 32, 78;
  --color3: 100, 220, 255;
  --color-interactive: 198, 151, 73;
  --color-links: rgb(245, 169, 47);
  --circle-size: 80%;
  --blending: darken;
}
