.navbar {
  width: 100%;
  background-color: rgb(11, 11, 11);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
